.card_container {
    /* display: flex; */
    margin: 0 5%;
    /* background: black; */

}

.card_column {
    float: left;
    width: 31%;
    /* padding: 2px; */
    margin: .5%;
    /* margin: 1% 0.5%; */
    border: 5px solid rgb(85, 164, 120);
    /* background-color: rgb(85, 164, 120); */
    border-radius: 1rem;

}

.scard {
    background-color: white;
    padding: 5%;
    /* top: -5rem; */
    /* position: relative; */
    border-radius: 1rem;
    display: flex;
    margin: 1%;
}

.scard img {
    height: 8rem;
    width: 10rem;
    margin: 2%;
    /* display: flex; */
}

.scard h3 {
    position: absolute;
    margin: inherit;
    /* display: block; */
    background-color: rgba(245, 222, 179, 0.793);
    padding: 1%;
    width: 115px;
    text-align: center;
    /* align-items: center; */
}

.scard:hover {
    background-color: rgba(0, 0, 0, 0.073);
    /* color: white; */
    cursor: pointer;
}

/* .scard h1 {
    text-align: center;
} */

.scard h4 {
    text-align: center;
    /* align-items: center; */
}

@media screen and (max-width: 1090px) {
    .card_column {
        width: 100%;
        display: block;
        margin-bottom: 20px;
    }

    .scard {
        padding: 0%;
    }

    .scard h3 {
        margin: 27px;
    }
}